@import "variables";

header {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: $header-height;
  z-index: $marginal-z-index;
  background: $dark-color;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    z-index: $marginal-content-z-index;
  }
}
