<header>
  <h4>Closer</h4>

  <ng-container *ngIf="currentRoute$ | async as currentRoute">
    <ng-container *ngIf="currentRoute === '/'">
      <app-search />
    </ng-container>

    <ng-container *ngIf="currentRoute === '/nearby'">
      <app-labeled-menu
        label="Distance"
        [icon]="distanceIcon"
        [menuItems]="allowedSearchDistance"
        (selected)="changeSearchDistance($event)"
      />
      <ng-template #distanceIcon><mat-icon fontIcon="adjust" /></ng-template>
    </ng-container>
  </ng-container>
</header>
