<section>
  <ng-container *ngIf="stops$ | async as stops">
    <ng-container *ngIf="stops.length; else noStops">
      <div cdkDropList cdkDropListAutoScrollStep="20" (cdkDropListDropped)="onStopCardDrop($event)">
        <ng-container *ngFor="let stop of stops; trackBy: trackStops">
          <app-schedule-stop-card
            class="stop-card"
            [stop]="stop"
            (changeSchedule)="onScheduleUpdate($event, stop)"
            (remove)="onStopRemove(stop.name)"
          />
        </ng-container>
      </div>
    </ng-container>

    <ng-template #noStops><p class="text">There was a stop here. It's gone now.</p></ng-template>
  </ng-container>

  <div #bottom></div>
</section>
