@import "variables";

section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  border: 0.5px solid $dark-color;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 1rem;

  & > div {
    padding: 0.7rem;
  }
}

.card-header {
  background: $dark-color;
  font-size: $title-size;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  background: $gray-color;
}

@media (max-width: 768px) {
  section {
    width: 95vw;
  }
}
