<div
  cdkDrag
  cdkDragLockAxis="y"
  cdkDragPreviewClass="dragging"
  [cdkDragStartDelay]="dragDelay"
  [appDragTriggerDelay]="dragDelay"
  (cdkDragStarted)="onDragStart()"
>
  <section [class.slide-right]="removeAnimationActive" (transitionend)="onRemove($event)">
    <div cdkDragHandle matRipple [appDisableRipple]="ripple" class="card-header">
      <span>
        {{ stop.name }}
        <app-labeled-menu
          [label]="stop.ordinalNumber"
          [menuItems]="relatedStopOrdinalNumbers"
          (selected)="onStopChange($event)"
        />
      </span>

      <mat-icon fontIcon="close" class="button" (click)="removeAnimationActive = true" />
    </div>
    <div class="card-body">
      <app-stop-schedule-list [schedules]="stop.schedules" />
    </div>
  </section>
</div>
