@import "shared";

header {
  background: $dark-color;
  font-family: Montserrat, sans-serif;
  min-height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
  }
}
