<section [class.slide-right]="removeAnimationActive" (transitionend)="remove.emit()">
  <div class="card-header">
    <span>
      {{ stop.name }}
      <span class="button" [matMenuTriggerFor]="relatedStopsMenu">{{ stop.ordinalNumber }}</span>
    </span>
    <mat-icon fontIcon="close" class="button" (click)="removeAnimationActive = true" />

    <mat-menu #relatedStopsMenu="matMenu">
      <span
        *ngFor="let relatedStop of stop.relatedStops"
        tabindex="0"
        mat-menu-item
        (click)="update.emit(relatedStop.ordinalNumber)"
      >
        {{ relatedStop.ordinalNumber }}
      </span>
    </mat-menu>
  </div>
  <div class="card-body">
    <ng-container *ngIf="stop.schedules.length; else noSchedules">
      <table>
        <tr>
          <th>Line</th>
          <th>Direction</th>
          <th>Departure</th>
        </tr>

        <ng-container *ngFor="let schedule of stop.schedules">
          <tr>
            <td>{{ schedule.lineNumber }}</td>
            <td>{{ schedule.destination }}</td>
            <td [class.blinker]="schedule.departsIn === '>>>'">{{ schedule.departsIn }}</td>
          </tr>
        </ng-container>
      </table>
    </ng-container>

    <ng-template #noSchedules>
      <p class="text">There was a schedule here. It's gone now.</p>
    </ng-template>
  </div>
</section>
