@import "variables";

section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  border: 0.5px solid $dark-color;
  border-radius: 5px;
  margin-bottom: 1rem;

  & > div {
    padding: 0.7rem;
  }
}

.card-header {
  background: $dark-color;
  font-size: $title-size;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}

.card-body {
  background: $gray-color;

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    tr {
      border-top: 0.5px solid $dark-color;
    }

    tr:first-child {
      border-top: none;
    }

    th {
      font-size: 1rem;
      letter-spacing: 0.5px;
      padding: 0.5rem 0.5rem 0.6rem;
    }

    td {
      font-size: $text-size;
      text-align: center;
      padding: 0.5rem;
    }
  }
}

.slide-right {
  transform: translateX(8rem);
  opacity: 0;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  section {
    width: 95vw;
  }
}
