$dark-color: #080808;
$light-color: #fafafa;
$accent-color: #f54538;
$gray-color: #2c2c2c;

$title-size: 1.1rem;
$text-size: 0.9rem;

$header-height: 8vh;
$footer-height: 6vh;

$overlay-content-z-index: 1;
$marginal-z-index: 2;
$marginal-content-z-index: 3;
