@use "common";
@import "variables";

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: $footer-height;
  z-index: $marginal-z-index;
  background: $dark-color;
  font-family: Montserrat, sans-serif;

  mat-spinner {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: calc($footer-height / 4);
  }

  nav {
    display: grid;
    grid-template-columns: repeat(2, 7rem);
    justify-content: center;
    align-items: center;
  }
}
