<footer>
  <ng-container *ngIf="isLoading">
    <mat-spinner color="accent" diameter="30" />
  </ng-container>

  <nav>
    <div
      tabindex="0"
      class="button icon-container"
      routerLink=""
      routerLinkActive="text-accent-color"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon fontIcon="directions_bus" />
      <span>Schedule</span>
    </div>

    <div
      tabindex="1"
      class="button icon-container"
      routerLink="/nearby"
      routerLinkActive="text-accent-color"
    >
      <mat-icon fontIcon="near_me" />
      <span>Nearby</span>
    </div>
  </nav>
</footer>
