@import "shared";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-weight: 500;
  font-family: sans-serif;
  min-height: 100vh;
  background: radial-gradient(#525252, #131313);
  color: $light-color;
}
