@use "common";
@import "variables";

section {
  display: flex;
  justify-content: center;
  align-items: center;

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    tr {
      border-top: 0.5px solid $dark-color;
    }

    tr:first-child {
      border-top: none;
    }

    th {
      font-size: 1rem;
      letter-spacing: 0.5px;
      padding: 0.5rem 0.5rem 0.6rem;
    }

    td {
      font-size: $text-size;
      text-align: center;
      padding: 0.5rem;
    }
  }
}
